<div class="body">
  <header class="header">
    <img class="img-logo" src="./assets/img/logo2.png" alt="logo da empresa" />
    <div class="img-gerencia">
      <img src="" alt="" />
    </div>
    <h2 class="nome-gerencia">
      {{ user }}
    </h2>
    <nav>
      <ul>
        <li class="nav_li">
          <a routerLink="../controle">
            <img
              class="nav_img"
              src="./assets/img/gerencia/casa (2).png"
              alt="imagem de uma casa"
            />
            <span>Início</span>
          </a>
        </li>
        <li class="nav_li">
          <a routerLink="../estabelecimentos">
            <img
              class="nav_img"
              src="./assets/img/gerencia/predio.png"
              alt="imagem de um prédio"
            />
            <span>Estabelecimento</span>
          </a>
        </li>
        <li class="nav_li">
          <a routerLink="../cliente">
            <img
              class="nav_img"
              src="./assets/img/gerencia/cliente.png"
              alt="imagem de uma pessoa"
            />
            <span>Cliente</span>
          </a>
        </li>
        <li class="nav_li">
          <img
            class="nav_img"
            src="./assets/img/gerencia/comentario.svg"
            alt="imagem de um Comentários"
          />
          <span>Agendamento</span>
        </li>
      </ul>
    </nav>
    <a class="sair" href="http://localhost:4200/home">
      <img src="./assets/img/exit.png" alt="exit" />
      Sair </a
    >
  </header>
  <main class="main">
    <div class="main_estabelecimento">
      <h2 class="h2-estabelecimento">Agendamento</h2>
      <p>Todos Ativo Bloqueados</p>
    </div>
    <div class="principal">
      <div class="principal_div">
        <div class="principal_header">
          <!-- <button type="button" class="button"><img src="./assets/img/gerencia/Filter.webp" alt=""><span class="span-filtro">Filtro</span></button>
      <input class="search" type="search" name="search" placeholder="Busca Estabecimento"> -->
        </div>
        <div class="secudaria">
          <button type="button" class="aprovar" ng-click="consoleId()">
            <span class="span-button1">Bloquear</span>
          </button>
          <button type="button" class="aprovar">
            <span class="span-button2">Liberar</span>
          </button>
        </div>
      </div>
      <table class="table">
        <tr class="th-linha">
          <th width="10px"><input type="checkbox" name="checkbox" /></th>
          <th width="10px"></th>
          <th>estabelecimento</th>
          <th>cliente</th>
          <th>data</th>
          <th>valor</th>
          <th></th>
          <th></th>
          <th>...</th>
        </tr>
        <tr *ngFor="let estabelecimento of estabelecimentos">
          <td class="width"><input type="checkbox" /></td>
          <td>
            <select>
              <option
                *ngFor="let estabelecimento of estabelecimentos"
                ng-selected="estabelecimentos[0].nome"
              >
                {{ estabelecimento.nome }}
              </option>
            </select>
          </td>
          <td>
            <strong>{{ estabelecimento.nome }}</strong>
          </td>
          <td>{{ estabelecimento.status }}</td>
          <td>{{ estabelecimento.formasPagamento[0] }}</td>
          <td>{{ estabelecimento.slogan }}</td>
          <td>{{ estabelecimento.valor }}</td>
          <td>
            <button
            class="botao-vermais"
            (click)="teste()"
            >+</button></td>
          <td>
            <button
            class="botao-vermais potinhos"
            (click)="teste()"
            >+</button></td>
        </tr>
      </table>
    </div>
  </main>
</div>
