<div class="body">
  <header class="header">
    <img class="img-logo" src="./assets/img/logo2.png" alt="logo da empresa" />
    <div class="img-gerencia">
      <img src="" alt="" />
    </div>
    <h2 class="nome-gerencia">
      {{ user }}
    </h2>
    <nav>
      <ul>
        <li class="nav_li">
          <a routerLink="../controle">
            <img
              class="nav_img"
              src="./assets/img/gerencia/casa (2).png"
              alt="imagem de uma casa"
            />
            <span>Início</span>
          </a>
        </li>
        <li class="nav_li">
          <img
            class="nav_img"
            src="./assets/img/gerencia/predio.png"
            alt="imagem de um prédio"
          />
          <span>Estabelecimento</span>
        </li>
        <li class="nav_li">
          <a routerLink="../cliente">
            <img
              class="nav_img"
              src="./assets/img/gerencia/cliente.png"
              alt="imagem de uma pessoa"
            />
            <span>Cliente</span>
          </a>
        </li>

        <li class="nav_li">
          <img
            class="nav_img"
            src="./assets/img/gerencia/comentario.svg"
            alt="imagem de um Comentários"
          />
          <span>Comentários</span>
        </li>
      </ul>
    </nav>
    <button type="button" class="botao-sair">
      <a href="http://localhost:4200/home">Sair</a>
    </button>
  </header>
  <main class="main">
    <div class="main_estabelecimento">
      <h2 class="h2-estabelecimento">Estabelecimento</h2>
      <p>Todos Ativo Bloqueados</p>
    </div>
    <div class="principal">
      <div class="principal_div">
        <div class="principal_header">
          <!-- <button type="button" class="button"><img src="./assets/img/gerencia/Filter.webp" alt=""><span class="span-filtro">Filtro</span></button>
        <input class="search" type="search" name="search" placeholder="Busca Estabecimento"> -->
        </div>
        <div class="secudaria">
          <button type="button" class="aprovar" ng-click="consoleId()">
            <span class="span-button1" (click)="bloquear()">Bloquear</span>
          </button>
          <button type="button" class="aprovar">
            <span class="span-button2">Liberar</span>
          </button>
        </div>
      </div>
      <table class="table">
        <tr class="th-linha">
          <th width="10px">
            <label for=""><input type="checkbox" name="checkbox"></label>
          </th>
          <th width="10px"></th>
          <th>name</th>
          <th>status</th>
          <th>payment staus</th>
          <th>amount</th>
          <th></th>
          <th></th>
          <th>...</th>
        </tr>
        <tr *ngFor="let estabelecimento of estabelecimentos">
          <td class="width">
            <input
              [id]="estabelecimento._id"
              type="checkbox"
              (change)="checkboxChange($event)"
            />
          </td>
          <td>
            <select name="select">
              <option value="0"></option>
              <option value="1">Carlos</option>
              <option value="2">bruno</option>
            </select>
          </td>
          <td>
            <strong>{{ estabelecimento.nome }}</strong>
          </td>
          <td>
            <span class="span-estado b">
              {{estado1}}
            </span>
          </td>
          <td>{{ estabelecimento.formasPagamento[0] }}</td>
          <td>{{ estabelecimento.slogan }}{{ estabelecimento.nome }}</td>
          <td>{{ estabelecimento.valor }}</td>
          <td><button type="button" class="botao-vermais">+</button></td>
          <td><button type="button" class="botao-vermais pontinhos">+</button></td>
        </tr>
      </table>
    </div>
  </main>
</div>
