body {
  font-family: "Inter", sans-serif;
}
.header {
  width: 22vw;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.img-logo {
  width: 100%;
  height: 87px;
}

.img-gerencia {
  display: block;
  width: 80px;
  height: 122.35px;
  border-radius: 100%;
  background: #c4c4c4;
  margin: 30px auto;
}

.nome-gerencia {
  width: 124px;
  height: 42.82px;
  font-size: 16px;
  line-height: 28px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.15px;

  color: #000000;
}

.span-gerencia {
  font-size: 12px;
}

nav ul {
  list-style: none;
  padding: 15px;
  margin-top: 25px;
}
nav a {
  text-decoration: none;
}

.nav_li {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 34px;

  letter-spacing: 0.15px;

  color: #000000;
}

.nav_li:hover {
  background: #113784;
  border-radius: 10px;
  color: #ffffff;
}

.nav_img {
  width: 24px;
  margin: 0 15px;
  vertical-align: middle;
  filter: invert(100%);
}

.body {
  display: flex;
}

.main {
  width: 78vw;
  padding: 35px;
}

.h2-estabelecimento {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #6e6893;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  margin-bottom: 0;

  color: #6e6893;
}
.principal {
  width: 100vh;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.principal_div {
  display: flex;
}
.principal_header {
  width: 80%;
  display: flex;
  padding: 20px;
}
.principal_header > button:last-child {
  position: relative;
  left: 550px;
}

.main_estabelecimento {
  border-bottom: 1px solid;
  padding-bottom: 15px;

  margin-bottom: 15px;
  border-color: #c6c2de;
}

.secudaria {
  display: flex;

  text-align: center;
  width: 40%;
}
.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* Fonts/Primary */

  color: #25213b;
  /* Backgrounds/Primary */

  background: #ffffff;
  /* Primary */

  border: 1px solid #6d5bd0;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #6d5bd0;
  border-radius: 6px;
}

.button img {
  width: 20px;
}

.search {
  background: #f4f2ff;
  padding: 1px 6px;

  border: 1px solid #6d5bd0;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #6d5bd0;
  border-radius: 6px;
}
input[type="search"] {
  width: 392px;
  height: 40px;
  border: 1px solid #6d5bd0;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.aprovar {
  background: #ff2232;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  border: none;
  margin: 24px;
}
.table {
  text-align: left;
  width: 97%;
  margin-left: 20px;
  border-spacing: 0;
}
// .th-menor {

// }

.th-linha th {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  border-top: 1px solid;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  vertical-align: middle;
  color: #6e6893;
}
th,
td {
  border-bottom: 1px solid #25213b;
  padding: 10px;
}

select {
  width: 20px;
  vertical-align: middle;
  height: 20px;
  border-radius: 100%;
}

.button {
  width: 88px;
  height: 40px;
}
.botao-vermais{
  width: 100%;
  background: #ff2232;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 19px;
  color: #ffffff;
  border: none;
}

@media only screen and(max-width:1115px) {
  .secudaria {
    display: flex;
    left: 30px;
  }
}

@media only screen and(max-width:892px) {
  .secudaria {
    left: 0;
    width: 300px;
  }
  .aprovar {
    margin-left: 10px;
  }
  th, td{
    padding: 5px;
  }
}
@media only screen and(max-width:843px) {
  .nav_img {
    display: none;
  }

}

@media only screen and(max-width:654px) {
  .nav_img {
    display: flex;
    filter: invert(0);
    margin: 0 auto;
    width: 50%;
  }
  .aprovar {
    margin-left: 20px;
  }
  .nav_img:hover {
    filter: invert(100%);
  }
  .nav_li span {
    display: none;
  }
  .table {
    display: block;
  }
}
