<div class="body">
  <header class="header">
    <img class="img-logo" src="./assets/img/logo2.png" alt="logo da empresa" />
    <div class="img-gerencia">
      <img src="" alt="" />
    </div>
    <h2 class="nome-gerencia">
      {{ user }}
    </h2>
    <nav>
      <ul>
        <li class="nav_li">
          <a routerLink="../controle">
            <img
              class="nav_img"
              src="./assets/img/gerencia/casa (2).png"
              alt="imagem de uma casa"
            />
            <span>Início</span>
          </a>
        </li>
        <li class="nav_li">
          <a routerLink="../estabelecimentos">
            <img
              class="nav_img"
              src="./assets/img/gerencia/predio.png"
              alt="imagem de um prédio"
            />
            <span>Estabelecimento</span>
          </a>
        </li>
        <li class="nav_li">
          <img
            class="nav_img"
            src="./assets/img/gerencia/cliente.png"
            alt="imagem de uma pessoa"
          />
          <span>Cliente</span>
        </li>
        <li class="nav_li">
          <a routerLink="../agendamento">
            <img
              class="nav_img"
              src="./assets/img/gerencia/comentario.svg"
              alt="imagem de um Comentários"
            />

            <span>Agendamento</span>
          </a>
        </li>
      </ul>
    </nav>
    <a class="sair" href="http://localhost:4200/home">
      <img src="./assets/img/exit.png" alt="exit" />
      Sair
    </a>
  </header>
  <main class="main">
    <div class="main_estabelecimento">
      <h2 class="h2-estabelecimento">Clientes</h2>
      <p>Todos Ativo Bloqueados</p>
    </div>
    <div class="principal">
      <div class="principal_div">
        <div class="principal_header">
          <!-- <button type="button" class="button"><img src="./assets/img/gerencia/Filter.webp" alt=""><span class="span-filtro">Filtro</span></button>
      <input class="search" type="search" name="search" placeholder="Busca Estabecimento"> -->
        </div>
        <div class="secudaria">
          <button type="button" class="aprovar" ng-click="consoleId()">
            <span class="span-button1" (click)="bloquear()">Bloquear</span>
          </button>
          <button type="button" class="aprovar">
            <span class="span-button2" (click)="liberar()">Liberar</span>
          </button>
        </div>
      </div>
      <table class="table">
        <tr class="th-linha">
          <th width="10px"><input type="checkbox" name="checkbox" /></th>
          <th width="10px"></th>
          <th>nome</th>
          <th>status</th>
          <th>email</th>
          <th>telefone</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let cliente of clientes; index as i">
          <td class="width">
            <input type="checkbox" [(ngModel)]="selecionado[i]" />
          </td>
          <td>
            <div class="td_select">
              <select [(ngModel)]="nomes[i]">
                <option
                  *ngFor="let cliente of clientes; index as i"
                  [value]="nomes[i]"
                >
                  <!-- <img src="./assets/img/exit.png" alt="exit" /> -->
                  <strong>{{ nomes[i] }}</strong>
                </option>
              </select>
            </div>
          </td>
          <td>
            <strong>{{ nomes[i] }}</strong>
          </td>
          <td
            [ngClass]="{
              'td-estado': estados[i] == 'bloquear',
              'td-estado2': estados[i] == 'liberar'
            }"
          >
            {{ estados[i] }}
          </td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.telefone }}</td>
          <!-- <td>{{ cliente}}</td> -->
          <td>
            <button type="button" class="botao-vermais" (click)="teste()">
              +
            </button>
          </td>
          <td>
            <button
              type="button"
              class="botao-vermais pontinhos"
              (click)="teste()"
            >
              +
            </button>
          </td>
        </tr>
      </table>
    </div>
  </main>
</div>
