<div class="principal-container">
  <header class="header">
    <img class="img-logo" src="./assets/img/logo2.png" alt="logo da empresa" />

    <img class="img-gerencia" src="" alt="" />

    <h2 class="nome-gerencia">
      Nome completo</h2> <br/>
      <span class="span-gerencia">Gerência</span>

    <nav>
      <ul>
        <li class="nav_li">
          <img
            class="nav_img"
            src="./assets/img/gerencia/casa (2).png"
            alt="imagem de uma casa"
          />

          Início
        </li>
        <li class="nav_li">
          <img
            class="nav_img"
            src="./assets/img/gerencia/predio.png"
            alt="imagem de um prédio"
          />
          <a routerLink="../estabelecimentos">Estabelecimento</a>
        </li>
        <li class="nav_li">
          <img
            class="nav_img"
            src="./assets/img/gerencia/cliente.png"
            alt="imagem de uma pessoa"
          />
          Cliente
        </li>
        <li class="nav_li">
          <img
            class="nav_img"
            src="./assets/img/gerencia/comentario.svg"
            alt="imagem de um Comentários"
          />
          Comentários
        </li>
      </ul>
    </nav>
    <button>Sair</button>
  </header>
  <main class="main">
    <ul class="main_total">
      <li class="list-total">
        <p class="list-total-titulos">Saldo a Receber</p>
        <p class="list-total-valor">R$1.437,00</p>
        <img
          class="list-total-img"
          src="./assets/img/gerencia/dinheiro.svg"
          alt=""
        />
      </li>

      <li class="list-total">
        <p class="list-total-titulos">Estabelecimento</p>
        <p class="list-total-valor">1386</p>
      </li>
      <li class="list-total">
        <p class="list-total-titulos">Clientes</p>
        <p class="list-total-valor">42124</p>
        <img
          class="list-total-img"
          src="./assets/img/gerencia/clientes.png"
          alt=""
        />
      </li>
      <li class="list-total">
        <p class="list-total-titulos">Agendamentos</p>
        <p class="list-total-valor">43656</p>
        <img
          class="list-total-img"
          src="./assets/img/gerencia/agenda.png"
          alt=""
        />
      </li>
    </ul>

    <h2>Estabelecimento</h2>
    <ul class="main_cards">
      <li class="list-cards">
        <div>
          <img [src]="logos[0]" alt="" />
        </div>
        <table>
          <tr>
            <th>{{ nomes[0] }}</th>
          </tr>
          <tr>
            <td class="desafio">Titulo do Desafio</td>
          </tr>
          <tr>
            <td class="descricao">{{ descricao[0] }}</td>
          </tr>
          <tr>
            <td class="detalhes">Encerramento</td>
            <td class="status">Aprova</td>
          </tr>
        </table>
      </li>
      <li class="list-cards">
        <div>
          <img [src]="logos[1]" alt="" />
        </div>
        <table>
          <tr>
            <th>{{ nomes[1] }}</th>
          </tr>
          <tr>
            <td class="desafio">Titulo do Desafio</td>
          </tr>
          <tr>
            <td class="descricao">{{ descricao[1] }}&nbsp;{{descricao[2]}}</td>
          </tr>
          <tr>
            <td class="detalhes">Encerramento</td>
            <td class="status">Aprova</td>
          </tr>
        </table>
      </li>
      <li class="list-cards">
        <div>
          <img [src]="logos[2]" alt="" />
        </div>
        <table>
          <tr>
            <th>{{ nomes[2] }}</th>
          </tr>
          <tr>
            <td class="desafio">Titulo do Desafio</td>
          </tr>
          <tr>
            <td class="descricao">{{ descricao[2] }}</td>
          </tr>
          <tr>
            <td class="detalhes">Encerramento</td>
            <td class="status">Aprova</td>
          </tr>
        </table>
      </li>
      <li class="list-cards">
        <div>
          <img [src]="logos[3]" alt="" />
        </div>
        <table>
          <tr>
            <th>{{ nomes[3] }}</th>
          </tr>
          <tr>
            <td class="desafio">Titulo do Desafio</td>
          </tr>
          <tr>
            <td class="descricao">{{ descricao[3] }}</td>
          </tr>
          <tr>
            <td class="detalhes">Encerramento</td>
            <td class="status">Aprova</td>
          </tr>
        </table>
      </li>
    </ul>

    <h2>Novos Comentários</h2>
    <ul class="main_cards">
      <li class="list-cards">
        <div>
          <img src="" alt="">
        </div>
        <table>
          <tr>
            <th>Titulo da Ideía</th>
          </tr>
          <tr>
            <td class="desafio">Titulo do Desafio</td>
          </tr>
          <tr>
            <td class="detalhes">
                Encerramento
            </td>
            <td class="status">Aprova</td>
          </tr>
        </table>
      </li>
      <li class="list-cards">
        <div>
          <img src="" alt="">
        </div>
        <table>
          <tr>
            <th>Titulo da Ideía</th>
          </tr>
          <tr>
            <td class="desafio">Titulo do Desafio</td>
          </tr>
          <tr>
            <td class="detalhes">
                Encerramento
            </td>
            <td class="status">Aprova</td>
          </tr>
        </table>
      </li>
      <li class="list-cards">
        <div>
          <img src="" alt="">
        </div>
        <table>
          <tr>
            <th>Titulo da Ideía</th>
          </tr>
          <tr>
            <td class="desafio">Titulo do Desafio</td>
          </tr>
          <tr>
            <td class="detalhes">
                Encerramento
            </td>
            <td class="status">Aprova</td>
          </tr>
        </table>
      </li>
    </ul>
  </main>
</div>
