body{
  font-family: 'Inter', sans-serif;
}
.header {
  width: 21vw;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.img-logo{
  width: 100%;
  height: 87px;
}

.img-gerencia{
  display: block;
  width: 80px;
  height: 122.35px;
  border-radius: 100%;
  background: #C4C4C4;
  margin: 30px auto;
}

.nome-gerencia{
width: 124px;
height: 42.82px;
font-size: 16px;
line-height: 28px;
margin: 0 auto;
text-align: center;
letter-spacing: 0.15px;

color: #000000;
}

.span-gerencia{
  display: block;
  font-size: 12px;
  text-align: center;
}

nav ul{
 list-style: none;
 padding: 10px;
 margin-top: 45px;

}
nav a {
  text-decoration: none;
}

.nav_li {

  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 34px;
  letter-spacing: 0.15px;
  color: #000000;
}

.nav_li:hover{
   background: #113784;
   border-radius: 10px;
   color: #FFFFFF;
}

.nav_img{

width: 24px;
margin:0 15px 0 0;
vertical-align: middle;
filter:invert(100%)
}
.principal-container{
  display: flex;
}

.main{
width:78vw

}

.main_total{
  display: flex;
  list-style: none;
}

.list-total{
margin-right: 31px;
width: 258px;
height: 104px;
padding: 5px;


box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
border-radius: 8px;
}

.list-total:first-child{

  background: #228832;
}

.list-total:nth-child(2){

  background: #E39F39;

}
.list-total:nth-child(3){
  background: #B61313;

}
.list-total:last-child{
  background: #0D78B4;

}
.list-total-titulos{
margin: 8px;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.15px;
color: #FFFFFF;


}

.list-total-valor{
  margin: 8px;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;


  letter-spacing: 0.15px;

  color: #FFFFFF;

}
.list-total-img{
  position: relative;
  filter: invert(100%);
  width: 38px;
  float: right;
  top: -80px;

}

main h2{
line-height: 28px;
margin-left: 70px;

letter-spacing: 0.15px;

color: #103681;
}

.main_cards{
display: flex;
list-style: none;
}

.list-cards{
  width: 300px;
  height: 326px;
  margin-right: 56px;
  background: #FFFFFF;
  line-height: 28px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 1px 12px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.list-cards div img{
  width: 300px;
  height: 161px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
}
.list-cards h3{
  font-size: 14px;
  margin-left: 25px;
}

.list-cards p{
  font-size: 12px;
  margin-left: 25px;

}
table{
  width: 262px;
  height: 169px;
  margin-left: 25px;
}
.desafio{
  font-size: 12px;
}

.descricao{
  font-size:11px;
}
.detalhes,.status{
  font-size:10px;

}
.status{
  text-align:end
}
@media only screen and(max-width:1060px) {
  .main_cards{
    flex-wrap: wrap;
    justify-content: center;
  }
  .list-cards{
    margin-bottom: 20px;
  }
  .nav_li{

  }
}
@media only screen and(max-width:948px) {
  .main_total {
    flex-wrap: wrap;
  }
  .list-total{
    margin: 10px auto;
      }
  .list-cards{
    margin: 15px auto;
  }
  h2{
    text-align: center;
  }

  .main_cards{
    flex-wrap:wrap ;
  }
}
@media only screen and(max-width:843px) {
  .nav_img{
    display:none;
  }
  .list-total{
    width: -webkit-fill-available;
    margin: 15px 30px 15px 0;
  }
  .list-total-valor{
    margin: 8px 0 8px 8%;
  }
  .list-total-img{
    margin: 8px 0 8px 8%;
  }

}
@media only screen and(max-width:654px) {
  .nav_img{
    display: flex;
    filter: invert(0);
    margin:0 auto;
    width: 50%;
  }
  .nav_img:hover{
    filter: invert(100%);
  }
  .nav_li span{
    display:none;
  }

}







