<div class="contenier">
  <header>
      <img class="header_img-logo" src="./assets/img/logo2.png" alt="logo da empresa">
  </header>
  <main>
      <h2>Faça seu Cadastro</h2>
      <form>
          <input class="inputDados" type="text" placeholder="Nome completo">
          <input class="inputDados"  type="text" placeholder="Gerência">
          <input class="inputDados" type="email" placeholder="E-mail">
          <input class="inputDados" type="password" placeholder="Senha">
          <input class="inputDados" type="password" placeholder="Confirma senha">

          <input class="btn inputDados" type="button" value="Voltar">
          <input class="btn inputDados entra"type="button" value="Entrar">
      </form>
  </main>
 </div>
