

.contenier {
  position: absolute;
  background: #FFF1F1;
  border: 1px solid #B61313;;
  width: 780px;
  left: 327px;
   top: 34px;
   border-radius: 10px;
 }

 .header_img-logo{
   background:#FF2232;
   margin: 25px 264px;
   width: 250px;
  height: 88px;
  left: 593px;
  top: 208px;

 }
h1 {
  color: #FFFFFF;
  display: inline-block;
  margin-top: 25px;
  vertical-align: top;
  font-style: normal;
  font-weight: 500;
  font-size: 41px;
  line-height: 28px;
  letter-spacing: 0.15px;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.15px;

  color: #3C2E2E;

}

form{
padding: 20px;
}

form .inputDados,#labelCheckbox {
  display: block;
  margin: 15px auto;
  padding: 17px;
  width: 43%;
  border: none;
  border-bottom: 1px solid #A7A7A7;
  border-radius: 8px 8px 0px 0px;


}

.inputDados.btn {
  display: inline-block;
  border: 1px solid #FF2232;
  width: 156px;
  border-radius: 8px;

}

.btn.entra {
  background: #FF2232;
  margin-left: 423px;
}

#labelCheckbox {
  border: none;
  margin: 0 193px;
  padding: 0;
  color: #A7A7A7;

}

#botaoLogin {
  display: block;
  margin: 50px auto;

}
