

.contenier {
  position: relative;
  top:100px;
  background: #FFF1F1;
  border: 1px solid #B61313;
  max-width: 780px;
  margin: auto;
  border-radius: 10px;
 }

 .header{
   text-align: center;
 }

 .header_img-logo{
   background:#FF2232;
   margin: auto;
   box-sizing: border-box;
   max-width: 100%;
   height: 88px;
   margin-top: 25px;
  }
h1 {
  color: #FFFFFF;
  display: inline-block;
  margin-top: 25px;
  vertical-align: top;
  font-style: normal;
  font-weight: 500;
  font-size: 41px;
  line-height: 28px;
  letter-spacing: 0.15px;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.15px;

  color: #3C2E2E;

}

form{
padding: 20px;
}

form .inputDados {
  display: block;
  margin: 15px auto;
  padding: 17px;
  width: 56%;
  max-width: 330px;
  border: none;
  border-bottom: 1px solid #A7A7A7;
  border-radius: 8px 8px 0px 0px;
}
#labelCheckbox{
  display: block;
  margin: auto;
  padding: 17px;
  width: 207px;
  border: none;
  border-bottom: 1px solid #A7A7A7;
  border-radius: 8px 8px 0px 0px;
}

.inputDados.btn {
  display: inline-block;
  border: 1px solid #FF2232;
  width: 156px;
  border-radius: 8px;

}

.btn.entra {
  background: #FF2232;
  margin-left: 423px;
}

#labelCheckbox {
  border: none;
  margin: auto;
  padding: 0;
  color: #A7A7A7;

}

#botaoLogin {
  display: block;
  margin: 50px auto;

}
